@import './import/_variables';
@import './import/_mixins';
@import './import/_fonts';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @include font('Mantonico', 14px, 300, normal);
  line-height: 1.42;
  margin: 0;
  padding: 0;

  &.hidden {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
  margin: 0 auto 40px;
  text-align: center;

  @include phone {
    font-size: 24px;
    margin-bottom: 50px;
  }

  @include tablets {
    font-size: 28px;
  }

  &::before {
    position: absolute;
    font-size: 43px;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(219, 219, 219, 0.2);
    z-index: -1;

    @include phone {
      font-size: 50px;
      top: -20px;
    }

    @include tablets {
      font-size: 54px;
    }
  }

  &_products {
    &::before {
      content: 'Products';
    }
  }

  &_info {
    &::before {
      content: 'Information';
    }
  }

  &_brands {
    &::before {
      content: 'Brands';
    }
  }
  &_about {
    &::before {
      content: 'About us';
      white-space: nowrap;
    }
  }

  &_contacts {
    &::before {
      content: 'Contacts';
      white-space: nowrap;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  @include font('Mantonico', 14px, 700, normal);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 20px 0;

  @include phone {
    padding: 25px 0;
  }

  @include tablets {
    padding: 30px 0;
  }

  @include desktops {
    padding: 40px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    &_fixed {
      margin-top: 40px;
    }
  }
}

.container {
  max-width: 100%;
  flex: 0 0 auto;
  position: relative;
  padding: 0 10px;
  margin: 0 auto;

  @include phone {
    padding: 0 15px;
  }
  @include tablets {
    padding: 0 20px;
  }
  @include desktops {
    padding: 0 20px;
    max-width: 1100px;
  }
}
